.admin-inventory-logs {
  width: 95%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 3rem;
}

.admin-inventory-logs th,
.admin-inventory-logs td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.admin-inventory-logs th {
  background-color: #f2f2f2;
}

.admin-inventory-logs-heading{
    margin-left: 2rem;
    margin-top: 2rem;
}

.admin-inventory-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.admin-inventory-pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-inventory-pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
