.allappt-container {
  margin: 20px;
  padding: 1rem 1rem;
}

.allappt-service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.allappt-service-item {
  background-color: #e9ecef;
  color: #495057;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

h1 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.allappt-status-button {
  background-color: #2451ef;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.allappt-status-button:hover {
  background-color: #4369f2;
}

/* Updated pagination section */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Center the pagination controls */
  align-items: center; /* Vertically align items */
  gap: 20px; /* Space between the left and right sections */
}

.pagination .left,
.pagination .right {
  display: flex;
  align-items: center; /* Vertically center the elements */
  gap: 10px; /* Space between buttons and dropdown */
}

.pagination button {
  background-color: #2451ef;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination button.active-page {
  background-color: #ff5722;
  color: white;
}

select#count-select {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: white;
  color: #333;
  cursor: pointer;
}
