.client-info-container {
    margin: 20px;
    padding: 1rem 1rem;
}

.client-info-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  text-align: center;
  margin-top: 3rem;
}

.client-info-table th,
.client-info-table td {
  padding: 12px 15px;
}

.client-info-table thead tr {
  background-color: #f2f2f2;
  border-bottom: 1px solid #dddddd;
}

.client-info-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.client-info-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.client-info-button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.client-info-button:hover {
  background-color: #5a6268;
}

.client-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.client-popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto; /* Ensure the content is scrollable */
  display: flex;
  flex-direction: column;
}

.client-popup-content h2 {
  margin-top: 0;
}

.client-popup-content ul {
  list-style: none;
  padding: 0;
}

.client-popup-content li {
  margin: 5px 0;
}

.client-popup-content button {
  margin-top: 20px;
  align-self: center; /* Ensure the button is centered horizontally */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.client-popup-content button:hover {
  background-color: #0056b3;
}

/* Updated pagination section */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Center the pagination controls */
  align-items: center; /* Vertically align items */
  gap: 20px; /* Space between the left and right sections */
}

.pagination .left,
.pagination .right {
  display: flex;
  align-items: center; /* Vertically center the elements */
  gap: 10px; /* Space between buttons and dropdown */
}

.pagination button {
  background-color: #2451ef;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination button.active-page {
  background-color: #ff5722;
  color: white;
}

select#count-select {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: white;
  color: #333;
  cursor: pointer;
}
