.satisfaction-container {
  background-color: #fff;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 485px;

}

.satisfaction-container h3 {
  margin-bottom: 60px;
  color: #333;
}
