.worker-appt-container {
    padding: 20px;
    text-align: left;
    margin-left: 1.5rem;
}

.worker-appt-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 2.5rem;
}

.worker-create-appointment {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.worker-appt-button-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.worker-create-appointment:hover {
    background-color: #0056b3;
}
